
@font-face{
	font-family: 'BebasNeueBold';
	src:url('../fonts/BebasNeueBold.ttf');
}

@font-face{
	font-family: 'Helveticaneue';
	src:url('../fonts/Helveticaneue.ttf');
}

.navbar-default .navbar-nav>li>a{
	font-family: 'BebasNeueBold';
	color: #BCBCBC;
	font-size: 16px;

}	

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color: #E8663C;
}


.navbar-nav>li>a{
	padding-top: 20px;

}

.navbar{
	border: none;
	margin-bottom: 5px;
}

.padding-content{
	padding: 20px 0;
}

.heading{
	text-align: center;
	font-family: 'BebasNeueBold';
	color: #E8663C;
	line-height: 24px;

}

.first{
	background: url("../images/portfolio.png") no-repeat;
}

.mid{
	background: url("../images/offer.png") no-repeat;
}

.last{
	background: url("../images/follow.png") no-repeat;
}

.p-content{
	font-family: 'Helveticaneue';
	font-size: 12px;
	color: #414141;
	line-height: 18px;
}

.more{
	display: block;
	width: 60px;
	padding: 10px 15px;
	color: #fff;
	background: #E8663C;
	font-family: 'BebasNeueBold';
}

.bgheading{
	background: url("../images/heading-bg.png");
	height: 20px;
	margin:20px 0;
}

.bgheading span{
	background: #fff;
	font-family: 'BebasNeueBold';
	color:  #E8663C;
	display: block;
	width: 131px;
	font-size: 18px;
}
